body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 20px;
}
h1 {
  margin-top: 0;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  border: none;
}
th,
td {
  border: none;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
  cursor: pointer;
}
th:hover {
  background-color: #ddd;
}
tr:hover {
  background-color: ghostwhite;
  cursor: pointer;
}
.header {
  display: flex;
  justify-content: space-between;
}
.toolbar {
  margin-bottom: 10px;
}
.toolbar button {
  margin-right: 5px;
}
.editable:focus {
  background-color: #fff9c4;
  outline: none;
}
.clicked-row {
  background-color: #d9ebe9;
}
button {
  background-color: transparent;
  border: none;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
  color: rgb(167, 167, 171);
}
button:hover {
  color: rgb(43, 65, 177);
  background-color: #f1f2f3;
}
#editableBtn {
  font-size: large;
  font-weight: bold;
}
.sort-icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 5px;
}

.sort-icon.up::before {
  content: "▲"; /* Up arrow */
}

.sort-icon.down::before {
  content: "▼"; /* Down arrow */
}
